.header{
  text-align: center;
  background-color: #FB8C00;
  padding: 20px 0px;
}
.header a, .header a:hover{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px 10px;
  color: #ffff;
}